html {
  font-family: "Courier New", monospace;
}

h1 {
  text-align: center;
}

svg {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.text-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 60vw;
}

#slideshow-buttons {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}

/* bar styles */
/*
rect {
  stroke: black;
  fill: lightblue;
}
}*/


rect:hover {
  fill: rgba(0, 0, 0, .5);
}

/* tooltips */
#tooltip {
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  position: absolute; 
  opacity: 0;
}

/* TODO: make this not a copy from w3schools */
/* Style the buttons */
button {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: lightgray;
  cursor: pointer;
  font-weight: bold;
  margin: 0px;
}

/* Style the active class (and buttons on mouse-over) */
.active, button:hover {
  background-color: grey;
  color: white;
}