html {
  font-family: "Courier New", monospace;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
}

svg {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.text-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 60vw;
  height: 100px;
}

#slideshow-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* bar styles */
rect {
  stroke: black;
}

rect:hover {
  fill: rgba(0, 0, 0, .3);
}

/* tooltips */
#tooltip {
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  position: absolute; 
  opacity: 0;
  border-style: solid;
  border-width: 1px;
}

/* slide buttons */
button {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: lightgray;
  cursor: pointer;
  font-weight: bold;
  margin: 0px;
  float: left;
  margin: 0px 5px;
}

.active, button:hover {
  background-color: grey;
  color: white;
}

/* annotations */
.subject {
  stroke-width: 2;
  stroke-dasharray: 5px;
  fill: none
}

/* remove box around writing */
rect.annotation-note-bg {
  stroke: none;
}